<form [formGroup]="yelpSearch" (ngSubmit)="onYelp()">
  <label for="city">City</label>
  <input type="text" name="city" formControlName='city'>

  <label for="state">State</label>
  <select name="state" formControlName="state">
    <option *ngFor='let s of states' value="{{ s }}">{{ s }}</option>
  </select>

  <label for="price">Price</label>
  <select name='price' formControlName="price">
    <option *ngFor='let p of prices' value="{{ p.value }}">{{ p.view }}</option>
  </select>

  <button [disabled]="!useBtn" type="submit">
    {{ useBtn === false ? 'Think About Foods' : 'YelpIt'}}
  </button>
</form>

<div *ngIf="_yelp !== undefined">
  <img [src]="_yelp?.image_url">
  <h2>{{ _yelp.name }}</h2>
  <p>{{ _yelp.location.display_address }}</p>
  <p>{{ _yelp.display_phone }}</p>
  <p>{{ delivers }}</p>
  <p>{{ rating }}</p>
</div>